@font-face {
    font-family: "icons";
    src: url("/fonts/icons/icons.woff?10476906e2dc7d9a4f025e0e43d5f255") format("woff"),
url("/fonts/icons/icons.woff2?10476906e2dc7d9a4f025e0e43d5f255") format("woff2");
}

i[class^="icon-"]:before, i[class*=" icon-"]:before {
    font-family: icons !important;
    font-style: normal;
    font-weight: normal !important;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-convert:before {
    content: "\f101";
}
