:root {
  --white: #ffffff;
  --brand-color: #659ca3b3;
  --brand-color-light: #80b7bdff;

  --black-color-1: #1f1f1f;
  --black-color-2: #262626;
  --black-color-3: #343434;

  --gray-color-1: #b4b4b4;
  --gray-color-2: #959595;
}
